
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div>

        <form action="/Home/Index2" method="post">
            ID : <input type="text" name="id" value="" />
            <br />
            Name : <input type="text" name="name" value="" />
            <br />
            <input type="submit" name="save" value="save" />
        </form>

        @ViewBag.id
        @ViewBag.name

    </div>
</body>
</html>
