
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <div>
        <form action="/Home/Index3" method="post">
            ID : <input type="text" name="id" value="" />
            <br />
            Name : <input type="text" name="name" value="" />
            <br />
            Phone1 : <input type="text" name="phone" value="" />
            <br />
            Phone2 : <input type="text" name="phone" value="" />
            <br />
            Phone3 : <input type="text" name="phone" value="" />
            <br />
            <input type="submit" name="save" value="save" />
        </form>

        @ViewBag.id
        @ViewBag.name
        @ViewBag.phone
    </div>
</body>
</html>
